<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> PocketMD </title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <div/>
  <body>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
