<h1>Andrew Picture</h1>
<h2>Demographics</h2>
<ul>
    <li>Gender: Male</li>
    <li>Dates of Hospital Stay: 04/01/2019 - 04/14/2019</li>
    <li>Relevant Medical History
        <ul>
            <li>Type of Stroke: Hemorrhagic</li>
            <li>Other conditions: Multiple head injuries, seizures</li>
        </ul>
    </li>
</ul>
<h2>Prescriptions</h2>
<ul>
    <li>Nicardipine: 2x per day for 10 weeks</li>
    <li>Mannitol: 2x per day for 10 weeks</li>
</ul>
<h2>Exercises</h2>
<ul>
    <li>Physical therapy regiment</li>
</ul>